<div class="chat">
    <div class="chat__sidebar">
        <div class="chat__profile-link-container">
            <a class="chat__profile_link" href="profile.hbs">Профиль</a>
        </div>
        <div class="chat__search">
            {{> searchBar/searchBar}}
        </div>
        <div class="chat__dialogs">
            {{#each mocks.dialogs}}
            {{> dialog/dialog }}
            {{/each}}
        </div>
    </div>
    <div class="chat__main">
        <span>Выберите чат, что бы отправить сообщение.</span>
    </div>

</div>