<div class="chat">
    <div class="chat__sidebar">
        <div class="chat__profile-link">
            <span>Профиль</span>
        </div>
        <div class="chat__search">
            {{> searchBar/searchBar}}
        </div>
        <div class="chat__dialogs">
            {{> dialog/dialog}}
        </div>
    </div>
    <div class="chat__main">
        dasda
    </div>

</div>