.chat {
    display: flex;

    &__sidebar {
        flex-basis: 300px;
        background-color: var(--background-light-color);
        height: 100vh;
    }
    &__profile-link {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        margin: 10px 10px 0 0;
        font-size: 12px;
    }
    &__search {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__dialogs {
        height: calc(100% - 60px - 50px);
    }

    &__main {
        background-color: rgb(77, 36, 36);
        height: 100vh;
        width: 100%;
    }
}

//TODO: vh это хак, нужно задать родителям relative позицию или внести наследование 100% высоты 