---
title: 404
css:
- reset.css
- layout.less
- 404.less
---

{{#extend "base"}}
{{#content "main"}}
<main>
    <div class="page-404">
        <div class="blob">
            {{!-- <svg height="100vh" width="1000px" viewBox="0 0 100 100"  preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M513.006 1.6621C609.429 10.7725 675.062 65.5658 752.049 103.833C819.175 137.199 889.16 167.199 936.733 212.281C986.555 259.494 1035.85 311.983 1031.76 368.901C1027.72 425.243 953.593 466.774 914.817 517.419C872.814 572.28 870.964 644.263 793.567 680.006C715.777 715.93 608.733 699.122 513.006 702.98C410.89 707.095 297.421 738.824 211.282 703.474C124.771 667.971 131.062 585.923 84.7056 527.21C41.4163 472.382 -37.7159 429.564 -52.8777 368.901C-69.0509 304.191 -53.4929 235.18 -2.48323 178.364C48.5625 121.507 139.128 85.4094 229.432 54.4544C317.72 24.1908 413.933 -7.69872 513.006 1.6621Z"
                    fill="#4D3CA6" />
            </svg> --}}
        </div>
        <div class="page-404__content">
            <span  class="page-404__title">404</span>
            <span  class="page-404__subtitle">Не туда попали</span>
            <a  class="page-404__msg" href="index.hbs"> <span>Назад к чатам</span></a>
        </div>
    </div>
</main>
{{/content}}
{{/extend}}