---
title: Sprint_1
css:
- reset.css
- layout.less
scripts:
- ../scripts/index.js
---

{{#extend "base"}}
{{#content "main"}}
<main style="display: flex;  justify-content: center; align-items: center;">
  <div class="index__wrapper">
    <a href="login.hbs">Переход на логин</a>
    <a href="404.hbs">404 page</a>
    <a href="500.hbs">500 page</a>
    <a href="chatDialog.hbs">Chat с диалогом</a>
  </div>
</main>
{{/content}}
{{/extend}}