---
title: Регистрация
css: 
  - reset.css
  - layout.less
---

{{#extend "base"}}
   {{#content "main"}}
    <main>
       {{> registrationForm/registrationForm}}
    </main>
  {{/content}}
{{/extend}}