.search-bar {
    background-color: red;
    outline: none;
    width: 250;
    height: 35px;
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 5px 20px;
}