<div class="profile-form">
    {{#each profile.fields}}
    <div class="profile-form__field">
        <div class="profile-form__label">
            {{ this.title }}
        </div>
        <input class="profile-form__input" placeholder="{{ this.value }}"/>
    </div>
    {{/each}}
</div>