<div class="form-input">
    <div class="form-input__label">
        {{ label }}
    </div>
    <input type="{{ type }}" name="{{ name }}" class="form-input__input"></input>
</div>

{{!-- TODO: прижать текст к инпуту вплотную --}}