@nav-height: 100px;
@avatar-height: 300px;

.profile {
    // position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__nav {
        height: 100px;
        padding: 10px 0 10px 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

    }

    &__back {
        font-size: 20px;
        font-weight: 200;
    }

    &__avatar {
        // height: 100px;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        gap: 5px;
    }

    &__name {
        color: var(--text-color);
    }
    &__is-online {
        color: var(--accent-color);
    }

    &__avatar-img {

        img {
            border-radius: 100px;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

    }

    &__fields {
        height: calc(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}