<div class="profile">
    <div class="profile__nav">
        <a href="#">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_7_787)">
                <path
                    d="M22.5 0C16.5326 0 10.8097 2.37053 6.5901 6.5901C2.37053 10.8097 0 16.5326 0 22.5C0 28.4674 2.37053 34.1903 6.5901 38.4099C10.8097 42.6295 16.5326 45 22.5 45C28.4674 45 34.1903 42.6295 38.4099 38.4099C42.6295 34.1903 45 28.4674 45 22.5C45 16.5326 42.6295 10.8097 38.4099 6.5901C34.1903 2.37053 28.4674 0 22.5 0V0ZM32.3438 21.0938C32.7167 21.0938 33.0744 21.2419 33.3381 21.5056C33.6018 21.7694 33.75 22.127 33.75 22.5C33.75 22.873 33.6018 23.2306 33.3381 23.4944C33.0744 23.7581 32.7167 23.9062 32.3438 23.9062H16.0509L22.0894 29.9419C22.2201 30.0726 22.3238 30.2278 22.3946 30.3987C22.4654 30.5695 22.5018 30.7526 22.5018 30.9375C22.5018 31.1224 22.4654 31.3055 22.3946 31.4763C22.3238 31.6472 22.2201 31.8024 22.0894 31.9331C21.9586 32.0639 21.8034 32.1676 21.6326 32.2383C21.4618 32.3091 21.2787 32.3455 21.0938 32.3455C20.9088 32.3455 20.7257 32.3091 20.5549 32.2383C20.3841 32.1676 20.2289 32.0639 20.0981 31.9331L11.6606 23.4956C11.5297 23.365 11.4258 23.2098 11.3549 23.039C11.284 22.8681 11.2475 22.685 11.2475 22.5C11.2475 22.315 11.284 22.1319 11.3549 21.961C11.4258 21.7902 11.5297 21.635 11.6606 21.5044L20.0981 13.0669C20.3622 12.8028 20.7203 12.6545 21.0938 12.6545C21.4672 12.6545 21.8253 12.8028 22.0894 13.0669C22.3534 13.3309 22.5018 13.6891 22.5018 14.0625C22.5018 14.4359 22.3534 14.7941 22.0894 15.0581L16.0509 21.0938H32.3438Z"
                    fill="#4D3CA6" />
            </g>
            <rect x="0.5" y="0.5" width="44" height="44" rx="22" stroke="black" />
            <defs>
                <clipPath id="clip0_7_787">
                    <rect width="45" height="45" rx="22.5" fill="white" />
                </clipPath>
            </defs>
        </svg>
        </a>
        <span href="index.hbs" class="profile__back">
            Профиль
        </span>

    </div>
    <div class="profile__avatar">
         <div class="profile__avatar-img">
             <img src="https://cdn-s-static.arzamas.academy/storage/picture/7196/gallery_picture-673c9ad6-f79e-4890-a291-3e70ebc4f9b3.jpg" alt="">
         </div>
         <span class="profile__name">
             Сетару Канеда
         </span>
         <span class="profile__is-online">
             online
         </span>
    </div>
    <div class="profile__fields">
         {{> profileForm/profileForm }} 
    </div>
</div>